In [2]:
import pandas as pd

#Reading file

In [3]:
df = pd.read_csv("Diabetes Classification.xls")

In [4]:
# studentData = {
#      "Name": ["Afaq","Ahmar",'Haris'],
#      "Age": [20,21,21],
#      "Gender": ["Male","Male","Male"]
# }

In [5]:
# df = pd.DataFrame(studentData)
# print(df)
# df.to_csv("studentdata.csv", index=False)

In [ ]:
print("First 10 rows of the Dataset:")
df.head(10)

First 10 rows of the Dataset:

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
0,45,Male,25,Normal,100,5.7,No,No,Healthy,Regular,No
1,55,Female,30,High,120,6.4,Yes,Yes,Poor,No,Yes
2,65,Male,35,High,140,7.1,Yes,Yes,Poor,No,Yes
3,75,Female,40,High,160,7.8,Yes,Yes,Poor,No,Yes
4,40,Male,20,Normal,80,5.0,No,No,Healthy,Regular,No
5,50,Female,25,Normal,100,5.7,No,No,Healthy,Regular,No
6,60,Male,30,Normal,120,6.4,No,No,Healthy,Regular,No
7,70,Female,35,Normal,140,7.1,No,No,Healthy,Regular,No
8,45,Male,25,Low,80,5.0,Yes,Yes,Poor,No,No
9,55,Female,30,Normal,100,5.7,Yes,Yes,Poor,No,No

In [7]:
print("Last rows of the Dataset:")
df.tail(10)

Last rows of the Dataset:

,Age,Gender,BMI,Blood Pressure,FBS,HbA1c,Family History of Diabetes,Smoking,Diet,Exercise,Diagnosis
118,47,Female,44,High,220,9.9,Yes,Yes,Poor,No,No
119,52,Male,49,High,240,10.6,Yes,Yes,Poor,No,No
120,57,Female,54,High,260,11.3,Yes,Yes,Poor,No,No
121,62,Male,59,High,280,12.0,Yes,Yes,Poor,No,No
122,12,Male,10,Low,80,5.0,No,Yes,Poor,No,Yes
123,17,Female,15,Normal,100,5.7,No,Yes,Poor,No,Yes
124,22,Male,19,Normal,120,6.4,No,Yes,Poor,No,Yes
125,27,Female,24,High,140,7.1,No,Yes,Poor,No,Yes
126,32,Male,29,High,160,7.8,No,Yes,Poor,No,Yes
127,37,Female,34,High,180,8.5,No,Yes,Poor,No,Yes

Checking info of dataset

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         128 non-null    int64
 1   Gender                      128 non-null    object
 2   BMI                         128 non-null    int64
 3   Blood Pressure              128 non-null    object
 4   FBS                         128 non-null    int64
 5   HbA1c                       128 non-null    float64
 6   Family History of Diabetes  128 non-null    object
 7   Smoking                     128 non-null    object
 8   Diet                        128 non-null    object
 9   Exercise                    128 non-null    object
 10  Diagnosis                   128 non-null    object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.1+ KB

In [9]:
studentData = {
     "Name": ["Afaq","Ahmar",'Haris'],
     "Age": [20,21,21],
     "Gender": ["Male","Male","Male"]
}

In [10]:
data = pd.DataFrame(studentData)
print(data)
data.to_csv("studentdata.csv", index=False)

    Name  Age Gender
0   Afaq   20   Male
1  Ahmar   21   Male
2  Haris   21   Male

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [12]:
print("Statistical summary of the Dataset:")
df.describe()

Statistical summary of the Dataset:

              Age         BMI         FBS       HbA1c
count  128.000000  128.000000  128.000000  128.000000
mean    42.031250   35.359375  162.500000    7.887500
std     16.783915   14.981739   61.323975    2.146339
min     12.000000   10.000000   80.000000    5.000000
25%     28.000000   24.000000  120.000000    6.400000
50%     40.000000   34.000000  160.000000    7.800000
75%     55.000000   45.500000  205.000000    9.375000
max     75.000000   67.000000  280.000000   12.000000

In [15]:
print("Shape of the Dataset:")
df.shape

Shape of the Dataset:

(128, 11)

In [16]:
print("Columns in dataset:")
df.columns

Columns in dataset:

Index(['Age', 'Gender', 'BMI', 'Blood Pressure', 'FBS', 'HbA1c',
       'Family History of Diabetes', 'Smoking', 'Diet', 'Exercise',
       'Diagnosis'],
      dtype='object')

In [ ]:
#Manipulation with multiple columns/ for single column selection single square brackets are used
print('Selected columns:')
print(df[["BMI","Blood Pressure", "Age"]])

Selected columns:
     BMI Blood Pressure  Age
0     25         Normal   45
1     30           High   55
2     35           High   65
3     40           High   75
4     20         Normal   40
..   ...            ...  ...
123   15         Normal   17
124   19         Normal   22
125   24           High   27
126   29           High   32
127   34           High   37

[128 rows x 3 columns]

In [31]:
#Manipulation with Single row
print('Selected rows:')
print(df[df["Age"]<20])

Selected rows:
     Age  Gender  BMI Blood Pressure  FBS  HbA1c Family History of Diabetes  \
44    18    Male   17            Low   80    5.0                         No
55    18    Male   17         Normal   80    5.0                        Yes
66    18    Male   17            Low   80    5.0                         No
72    15    Male   14            Low   80    5.0                         No
83    15    Male   14         Normal   80    5.0                        Yes
94    15    Male   14            Low   80    5.0                         No
100   12    Male   10            Low   80    5.0                         No
101   17  Female   15         Normal  100    5.7                         No
111   12    Male   10         Normal   80    5.0                        Yes
112   17  Female   15         Normal  100    5.7                        Yes
122   12    Male   10            Low   80    5.0                         No
123   17  Female   15         Normal  100    5.7                         No

    Smoking     Diet Exercise Diagnosis
44       No  Healthy  Regular        No
55      Yes     Poor       No        No
66      Yes     Poor       No       Yes
72       No  Healthy  Regular        No
83      Yes     Poor       No        No
94      Yes     Poor       No       Yes
100      No  Healthy  Regular        No
101      No  Healthy  Regular        No
111     Yes     Poor       No        No
112     Yes     Poor       No        No
122     Yes     Poor       No       Yes
123     Yes     Poor       No       Yes